# Compiled Object Files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# CMake Files
build/
CMakeCache.txt
CMakeFile/
Makefile
cmake_install.cmake
compile_commands.json

# VS Code specific files (ignoring local workspace state)
.vscode/*
!.vscode/settings.json
